# Homework 2, Problem 5

In this problem we look at weather and how it impacts trading on the New York stock enchange. Complete this notebook and keep it in a homework 2 repo. Submit the repo link though the blackboard.

**You are free to add implmentation or markdown cells to make your notebook clearer!!**

## Data:

The following two datasets are our focus

* Weather data [NOAA-GHCN](https://registry.opendata.aws/noaa-ghcn/)
* Stock Exchange Data [Yahoo Finance](https://finance.yahoo.com/quote/%5ENYA/history?ltr=1)

## Part 1: Download The Weather Data

Download a year of weather data.

The Raw GHCN files don't have column headers, so we manually add them in. It's safer to at this point read in everything as an object & then parse to the correct type once you extract the variables you're interested in. 
This information can be found in https://docs.opendata.aws/noaa-ghcn-pds/readme.html

In [1]:
import urllib 

import pandas as pd

import dask.dataframe as dd
import dask.bag as db
import dask.diagnostics as dg

We're using Dask for the lazy evaluation properties (it will only try to run the computations at the end, hopefully after the data has been filtered down) because the dataset is very large. We set the storage options to `anon=True` because this data is public. Otherwise this kwarg is where we'd pass in the AWS authorization keys.

In [2]:
# Let's load in the data for 1992
YEAR = 1992

names = ['ID', 'DATE', 'ELEMENT', 'DATA_VALUE', 'M-FLAG', 'Q-FLAG', 'S-FLAG', 'OBS-TIME']
ds = dd.read_csv(f's3://noaa-ghcn-pds/csv/{YEAR}.csv', storage_options={'anon':True},  names=names, memory_map=False, 
                  dtype={'DATA_VALUE':'object'}, parse_dates=['DATE', 'OBS-TIME'])

In [3]:
# You can check the data
print(ds.columns)
print(ds.dtypes)

Index(['ID', 'DATE', 'ELEMENT', 'DATA_VALUE', 'M-FLAG', 'Q-FLAG', 'S-FLAG',
       'OBS-TIME'],
      dtype='object')
ID                    object
DATE          datetime64[ns]
ELEMENT               object
DATA_VALUE            object
M-FLAG                object
Q-FLAG                object
S-FLAG                object
OBS-TIME              object
dtype: object

In [4]:
# Print out the first few rows
ds.head()

            ID       DATE ELEMENT DATA_VALUE M-FLAG Q-FLAG S-FLAG OBS-TIME
0  CA002303986 1992-01-01    TMAX        -70    NaN    NaN      C      NaN
1  CA002303986 1992-01-01    TMIN       -240    NaN    NaN      C      NaN
2  CA002303986 1992-01-01    PRCP          4    NaN    NaN      C      NaN
3  CA002303986 1992-01-01    SNOW          4    NaN    NaN      C      NaN
4  CA002303986 1992-01-01    SNWD        420    NaN    NaN      C      NaN

Now we want to parse out the station ID list. We are using [pandas.read_fwf](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.read_fwf.html#pandas.read_fwf) because this file is a fixed format width table rather than a csv file. 
We explicitly pass in the extents of the fixed width field because Pandas has trouble inferring what belongs in the `STATE` column versus in the `NAME` column. We obtained these extents from the readme https://docs.opendata.aws/noaa-ghcn-pds/readme.html

In [5]:
# {column name:extents of the fixed-width fields}
columns = {"ID": (0,11), "LATITUDE": (12, 20), "LONGITUDE": (21, 30), "ELEVATION": (31, 37),"STATE": (38, 40),
           "NAME": (41, 71), "GSN FLAG": (72, 75), "HCN/CRN FLAG": (76, 79),"WMO ID": (80, 85)}

In [6]:
df = pd.read_fwf("http://noaa-ghcn-pds.s3.amazonaws.com/ghcnd-stations.txt", 
                    colspecs=list(columns.values()), names=list(columns.keys()))

In [7]:
df.head()

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSN FLAG,HCN/CRN FLAG,WMO ID
0,ACW00011604,17.1167,-61.7833,10.1,NaN,ST JOHNS COOLIDGE FLD,NaN,NaN,NaN
1,ACW00011647,17.1333,-61.7833,19.2,NaN,ST JOHNS,NaN,NaN,NaN
2,AE000041196,25.3330,55.5170,34.0,NaN,SHARJAH INTER. AIRP,GSN,NaN,41196.0
3,AEM00041194,25.2550,55.3640,10.4,NaN,DUBAI INTL,NaN,NaN,41194.0
4,AEM00041217,24.4330,54.6510,26.8,NaN,ABU DHABI INTL,NaN,NaN,41217.0

In [8]:
# You should be looking for those in the New York area like Central Park, JFK, LGA and Newark airport.
NYNJ = df[df['STATE'].isin(['NY', 'NJ'])]
NYNJ.head()

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSN FLAG,HCN/CRN FLAG,WMO ID
73674,US1NJAT0001,39.5483,-74.8671,31.4,NJ,BUENA VISTA TWP 2.6 NNE,NaN,NaN,NaN
73675,US1NJAT0002,39.5565,-74.8048,14.0,NJ,FOLSOM 3.2 SE,NaN,NaN,NaN
73676,US1NJAT0003,39.4747,-74.7107,5.5,NJ,HAMILTON TWP 2.1 SE,NaN,NaN,NaN
73677,US1NJAT0005,39.6404,-74.8261,29.9,NJ,HAMMONTON 3.3 WSW,NaN,NaN,NaN
73678,US1NJAT0009,39.3346,-74.5759,5.8,NJ,LINWOOD 0.7 SSW,NaN,NaN,NaN

Central Park is coded in shorthand, so we used the NOAA web portal to look up the correct ID
https://www.ncdc.noaa.gov/cdo-web/datasets/GHCND/stations/GHCND:USW00094728/detail

In [9]:
NYNJ[NYNJ['ID'].str.contains('USW00094728')]

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSN FLAG,HCN/CRN FLAG,WMO ID
114226,USW00094728,40.7789,-73.9692,39.6,NY,NEW YORK CNTRL PK TWR,NaN,HCN,72506.0

In [10]:
# Airports + Central Park
apcp = NYNJ[NYNJ['NAME'].str.endswith('AP') | NYNJ['ID'].str.contains('USW00094728')]
apcp.head()

,ID,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME,GSN FLAG,HCN/CRN FLAG,WMO ID
100219,USC00305840,43.1139,-78.9353,179.2,NY,NIAGARA FALLS INTL AP,NaN,NaN,NaN
112764,USW00004724,43.1072,-78.9453,178.3,NY,NIAGARA FALLS INTL AP,NaN,NaN,NaN
112769,USW00004742,44.6500,-73.4667,71.9,NY,PLATTSBURGH INTL AP,NaN,NaN,NaN
112775,USW00004781,40.7939,-73.1017,25.6,NY,ISLIP LI MACARTHUR AP,NaN,NaN,72505.0
112779,USW00004789,41.5092,-74.2650,111.3,NY,MONTGOMERY ORANGE AP,NaN,NaN,NaN

What we're interested in is the IDs, which we will use for our dataset to obtain only the stations of interest. We are going to join our two dataframes on the ID column so that we have all the information in every row.  We are removing the flags since they have neither computational nor necessary identification information. 

we do not use `.compute()` to resolve the computation because it's better to hold off until the completetion of feature selection and engineering described below. If you'd like a fully computed dataframe, the code is 
```python

In [11]:
nyds = ds.merge(apcp[['ID', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'STATE', 'NAME']], on='ID')

In [12]:
nyds.head()

,ID,DATE,ELEMENT,DATA_VALUE,M-FLAG,Q-FLAG,S-FLAG,OBS-TIME,LATITUDE,LONGITUDE,ELEVATION,STATE,NAME
0,USW00094790,1992-01-01,TMAX,61,NaN,NaN,0,2400,43.9922,-76.0217,96.9,NY,WATERTOWN INTL AP
1,USW00094790,1992-01-01,TMIN,-133,NaN,NaN,0,2400,43.9922,-76.0217,96.9,NY,WATERTOWN INTL AP
2,USW00094790,1992-01-01,PRCP,0,NaN,NaN,0,2400,43.9922,-76.0217,96.9,NY,WATERTOWN INTL AP
3,USW00094790,1992-01-01,SNOW,0,NaN,NaN,0,NaN,43.9922,-76.0217,96.9,NY,WATERTOWN INTL AP
4,USW00094790,1992-01-01,SNWD,0,NaN,NaN,0,NaN,43.9922,-76.0217,96.9,NY,WATERTOWN INTL AP

## Part 2: Download Stock Price Data

Here the idea is to get the finance data from Yahoo finace.  It's already the right date range in general:

In [13]:
finance_df = pd.read_csv("https://query1.finance.yahoo.com/v7/finance/download/%5ENYA?period1=694224000&period2=725760000&interval=1d&events=history")
finance_df = finance_df.rename(columns={"Date": "DATE"})

You can do an inner join for the dates from the financial dataset and the new york weather dataset, to get all your features ready, please do that here:

In [15]:
# your join on dates goes here:
ny_df = nyds.compute()
ny_df["DATE"] = pd.to_datetime(ny_df["DATE"])
finance_df["DATE"] = pd.to_datetime(finance_df["DATE"])

In [57]:
ny_df.dtypes

ID                    object
DATE          datetime64[ns]
ELEMENT               object
DATA_VALUE            object
M-FLAG                object
Q-FLAG                object
S-FLAG                object
OBS-TIME              object
LATITUDE             float64
LONGITUDE            float64
ELEVATION            float64
STATE                 object
NAME                  object
dtype: object

In [68]:
ny_df = ny_df.astype({'DATA_VALUE': 'float'})

In [69]:
import numpy as np
pivoted_ny = pd.pivot_table(ny_df, values='DATA_VALUE', columns=['ELEMENT'], index=['ID', 'DATE'], aggfunc=np.max, fill_value=0)

In [70]:
# inner join on ny_df.DATE == finance_df.DATE 
joined_data = pd.merge(finance_df, pivoted_ny, on = 'DATE', how = 'inner')

## Part 3: Creating and Selecting Variables

Pull out and encode the various variables listed below and set up these varaibles at least initially in a pandas data frame.

### Weather variables

* raining:
    - 0 - wasn't raining
    - 1 - was raining
* rain intensity:
    - 0 -low
    - 1 - medium
    - 2 - high
* rain duration in hours
* snowing:
    - 0 - wasn't snowing
    - 1 - was snowing
* snow intensity:
    - 0 - low
    - 1 - medium
    - 2 - high
* snow duration in hours
* windy:
    - 0 - low
    - 1 - medium
    - 2 - high

In [94]:
# rain indicator
joined_data['was_raining'] = ((joined_data.SNOW == 0) & (joined_data.PRCP > 0)).astype("int")

# rain intensity (minmax norm)
joined_data['prcp_intensity'] = (joined_data.PRCP - joined_data.PRCP.min()) / (joined_data.PRCP.max() - joined_data.PRCP.min()) 

# snowing variable
joined_data['was_snowing'] = (joined_data.SNOW > 0).astype("int")

# snow intensity (minmax norm)
joined_data['snow_intensity'] = (joined_data.SNOW - joined_data.SNOW.min()) / (joined_data.SNOW.max() - joined_data.SNOW.min())

In [97]:
joined_data.head()

,DATE,Open,High,Low,Close,Adj Close,Volume,ACMH,ACSH,AWND,...,WT14,WT15,WT16,WT17,WT18,WT22,was_raining,prcp_intensity,was_snowing,snow_intensity
0,1992-01-02,2423.179932,2423.179932,2423.179932,2423.179932,2423.179932,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0.0
1,1992-01-02,2423.179932,2423.179932,2423.179932,2423.179932,2423.179932,0,0,0,20,...,0,0,0,0,0,0,0,0.0,0,0.0
2,1992-01-02,2423.179932,2423.179932,2423.179932,2423.179932,2423.179932,0,0,0,0,...,1,0,1,0,0,0,0,0.0,0,0.0
3,1992-01-02,2423.179932,2423.179932,2423.179932,2423.179932,2423.179932,0,100,90,34,...,0,0,0,0,0,0,0,0.0,0,0.0
4,1992-01-02,2423.179932,2423.179932,2423.179932,2423.179932,2423.179932,0,100,100,18,...,0,0,1,0,0,0,0,0.0,0,0.0

### Market Variables 

* Market Open
* Market Close
* Market High
* Market Low
* Market Volume


Make sure you have aligned the data by date in a pandas data frame. Show the counts and the summary stats.

In [98]:
joined_data.describe()

,Open,High,Low,Close,Adj Close,Volume,ACMH,ACSH,AWND,FMTM,...,WT14,WT15,WT16,WT17,WT18,WT22,was_raining,prcp_intensity,was_snowing,snow_intensity
count,4312.000000,4312.000000,4312.000000,4312.000000,4312.000000,4312.0,4312.00000,4312.000000,4312.000000,4312.000000,...,4312.000000,4312.000000,4312.000000,4312.000000,4312.000000,4312.000000,4312.000000,4312.000000,4312.000000,4312.000000
mean,2421.235815,2421.235815,2421.235815,2421.235815,2421.235815,0.0,26.25000,26.843692,22.205009,669.627087,...,0.110390,0.006030,0.376160,0.008813,0.121289,0.000464,0.303108,0.030930,0.076531,0.006421
std,46.976401,46.976401,46.976401,46.976401,46.976401,0.0,37.15298,38.682017,24.175577,806.458088,...,0.313411,0.077426,0.484477,0.093472,0.326501,0.021534,0.459655,0.083224,0.265876,0.040880
min,2304.229980,2304.229980,2304.229980,2304.229980,2304.229980,0.0,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2391.780029,2391.780029,2391.780029,2391.780029,2391.780029,0.0,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2418.530029,2418.530029,2418.530029,2418.530029,2418.530029,0.0,0.00000,0.000000,20.500000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2438.620117,2438.620117,2438.620117,2438.620117,2438.620117,0.0,60.00000,60.000000,41.000000,1450.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.020134,0.000000,0.000000
max,2559.689941,2559.689941,2559.689941,2559.689941,2559.689941,0.0,100.00000,100.000000,182.000000,2357.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## Part 4: Feature Engineering

Because we are going to be thinking of this in terms of a simple neural network here (like a dense neural network), extend the data by the input data actually being the past $n$ days ($n$ between 1 and 7). In other words the $X$ input should contain a lag of variables you loaded, but lagged by days from 1 through 7. In other words if it hasn't snowed in the past 7 days you will have attributes $[0,0,0,0,0,0,0]$ for yesterday and the preceeding 8 days of no snow, being "columns" or dimensions in your input data.

One challenge is that for weekend you will not have trading days so you will need to do some data filling. After you "fatten" your data, should see if you need all this data. You should normalize all your input variables so that that have an approximate range between 0 and 1.

In [39]:
from functools import partial

def lag_function(num_days, x):
    # fill in the code for the lag day here
    return x

lag_one_day = partial(lag_function, 1)
joined_data["market_volatility_lag_one"] = joined_data.apply(lag_one_day, axis=1)

lag_two_days = partial(lag_function, 2)
joined_data["market_volatility_lag_two"] = joined_data.apply(lag_two_days, axis=1)

lag_three_days = partial(lag_function, 3)
joined_data["market_volatility_lag_three"] = joined_data.apply(lag_three_days, axis=1)

lag_four_days = partial(lag_function, 4)
joined_data["market_volatility_lag_four"] = joined_data.apply(lag_four_days, axis=1)

lag_five_days = partial(lag_function, 5)
joined_data["market_volatility_lag_five"] = joined_data.apply(lag_five_days, axis=1)

lag_six_days = partial(lag_function, 6)
joined_data["market_volatility_lag_six"] = joined_data.apply(lag_six_days, axis=1)

lag_seven_days = partial(lag_function, 7)
joined_data["market_volatility_lag_seven"] = joined_data.apply(lag_seven_days, axis=1)

In [ ]:
# add the code for dealing with weekends here

In [ ]:
# add the code for normalization here

In [116]:
joined_data['volatility'] = joined_data.High - joined_data.Low
joined_data['day_of_week'] = joined_data.DATE.dt.dayofweek

In [120]:
joined_data.head()

,DATE,Open,High,Low,Close,Adj Close,Volume,ACMH,ACSH,AWND,...,WT17,WT18,WT22,was_raining,prcp_intensity,was_snowing,snow_intensity,volatility,is_weekend,day_of_week
0,1992-01-02,2423.179932,2423.179932,2423.179932,2423.179932,2423.179932,0,0,0,0,...,0,0,0,0,0.0,0,0.0,0.0,1,3
1,1992-01-02,2423.179932,2423.179932,2423.179932,2423.179932,2423.179932,0,0,0,20,...,0,0,0,0,0.0,0,0.0,0.0,1,3
2,1992-01-02,2423.179932,2423.179932,2423.179932,2423.179932,2423.179932,0,0,0,0,...,0,0,0,0,0.0,0,0.0,0.0,1,3
3,1992-01-02,2423.179932,2423.179932,2423.179932,2423.179932,2423.179932,0,100,90,34,...,0,0,0,0,0.0,0,0.0,0.0,1,3
4,1992-01-02,2423.179932,2423.179932,2423.179932,2423.179932,2423.179932,0,100,100,18,...,0,0,0,0,0.0,0,0.0,0.0,1,3

## Part 5: Try out different Models and prediction!

Your goal is to predict the volatility in the market, that is the Market High - Market Low your "Y" value. For convenience create that column. All of the other columns will help create your "X" variables. You can use any of the other variables as predictors. Be careful not use Market High or Market Low as "X" variables!

Since we are doing a regression problem that means that the last neural net activation will probably be linear and the loss should be Mean Squared Error or root mean squared error or mean absolute error.

Try five different models. For each model, please report mse, root mse and mean absolute error.  You can get the training history with:

Record the history with:

`history = model.fit(X, y, validation_split=0.1)`

and get the history for your metrics with:

`history.history`

For more details, see this tutorial: https://machinelearningmastery.com/custom-metrics-deep-learning-keras-python/

Also, please note the above tutorial shows you how to include multiple metrics with keras.

Then try cross validation with the above metrics. 

If you've never done cross validation with keras before, please use: https://machinelearningmastery.com/evaluate-performance-deep-learning-models-keras/

The above tutorial will show you how.

After running cross validation for each of the metrics you should be able to answer the following questions:

Is there overfitting? How do you know?
Why do you think certain models worked well and others not as well? 
How might you improve the model?

In [121]:
import tensorflow as tf
tf.__version__

'2.1.0'

In [125]:
# add your model architectures here

model = tf.keras.Sequential()

# want to include VAE in the future
# add Dense --> Dropout --> Squeeze --> Output
for _ in range(3):
    l = tf.keras.layers.Dense(64, activation='relu')
    model.add(l)
    dropout = tf.keras.layers.Dropout(.15)
    model.add(dropout)

squeeze = tf.keras.layers.Dense(8, activation='elu')
model.add(squeeze)

explode = tf.keras.layers.Dense(128, activation='relu')
output = tf.keras.layers.Dense(1)
model.add(explode)
model.add(output)

In [143]:
# implement cross validation here
model.compile(loss='mse', metrics=['mse', 'accuracy'])

In [144]:
from sklearn.model_selection import train_test_split

X = joined_data[['ACMH', 'ACSH', 'AWND', 'was_raining', 'prcp_intensity', 'was_snowing', 'snow_intensity']].values
y = joined_data.volatility.values
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [145]:
model.fit(X_train, y_train, batch_size=16, epochs=50)

Train on 3234 samples
Epoch 1/50
3234/3234 [==============================] - 2s 737us/sample - loss: 0.0141 - mse: 0.0141 - accuracy: 0.9969
Epoch 2/50
3234/3234 [==============================] - 1s 329us/sample - loss: 0.0016 - mse: 0.0016 - accuracy: 1.0000
Epoch 3/50
3234/3234 [==============================] - 1s 267us/sample - loss: 7.3676e-04 - mse: 7.3676e-04 - accuracy: 1.0000
Epoch 4/50
3234/3234 [==============================] - 1s 285us/sample - loss: 6.3104e-04 - mse: 6.3104e-04 - accuracy: 1.0000
Epoch 5/50
3234/3234 [==============================] - 1s 350us/sample - loss: 6.4621e-04 - mse: 6.4621e-04 - accuracy: 1.0000
Epoch 6/50
3234/3234 [==============================] - 1s 325us/sample - loss: 5.2926e-04 - mse: 5.2926e-04 - accuracy: 1.0000
Epoch 7/50
3234/3234 [==============================] - 1s 314us/sample - loss: 4.6883e-04 - mse: 4.6883e-04 - accuracy: 1.0000
Epoch 8/50
3234/3234 [==============================] - 1s 302us/sample - loss: 3.8482e-04 - mse: 3.8482e-04 - accuracy: 1.0000
Epoch 9/50
3234/3234 [==============================] - 1s 291us/sample - loss: 2.7307e-04 - mse: 2.7307e-04 - accuracy: 1.0000
Epoch 10/50
3234/3234 [==============================] - 1s 370us/sample - loss: 2.0302e-04 - mse: 2.0302e-04 - accuracy: 1.0000
Epoch 11/50
3234/3234 [==============================] - 2s 625us/sample - loss: 1.2260e-04 - mse: 1.2260e-04 - accuracy: 1.0000
Epoch 12/50
3234/3234 [==============================] - 2s 518us/sample - loss: 3.4006e-05 - mse: 3.4006e-05 - accuracy: 1.0000
Epoch 13/50
3234/3234 [==============================] - 2s 510us/sample - loss: 9.3440e-06 - mse: 9.3440e-06 - accuracy: 1.0000
Epoch 14/50
3234/3234 [==============================] - 2s 521us/sample - loss: 4.5370e-06 - mse: 4.5370e-06 - accuracy: 1.0000
Epoch 15/50
3234/3234 [==============================] - 2s 653us/sample - loss: 2.0167e-06 - mse: 2.0167e-06 - accuracy: 1.0000
Epoch 16/50
3234/3234 [==============================] - 2s 583us/sample - loss: 3.5739e-06 - mse: 3.5739e-06 - accuracy: 1.0000
Epoch 17/50
3234/3234 [==============================] - 2s 604us/sample - loss: 1.1920e-06 - mse: 1.1920e-06 - accuracy: 1.0000
Epoch 18/50
3234/3234 [==============================] - 2s 573us/sample - loss: 1.2866e-06 - mse: 1.2866e-06 - accuracy: 1.0000
Epoch 19/50
3234/3234 [==============================] - 2s 509us/sample - loss: 5.8264e-07 - mse: 5.8264e-07 - accuracy: 1.0000
Epoch 20/50
3234/3234 [==============================] - 2s 646us/sample - loss: 1.5837e-06 - mse: 1.5837e-06 - accuracy: 1.0000
Epoch 21/50
3234/3234 [==============================] - 2s 523us/sample - loss: 5.0641e-07 - mse: 5.0641e-07 - accuracy: 1.0000
Epoch 22/50
3234/3234 [==============================] - 2s 585us/sample - loss: 6.3958e-07 - mse: 6.3958e-07 - accuracy: 1.0000
Epoch 23/50
3234/3234 [==============================] - 2s 635us/sample - loss: 5.1613e-07 - mse: 5.1613e-07 - accuracy: 1.0000
Epoch 24/50
3234/3234 [==============================] - 2s 559us/sample - loss: 4.8819e-07 - mse: 4.8819e-07 - accuracy: 1.0000
Epoch 25/50
3234/3234 [==============================] - 2s 555us/sample - loss: 3.9452e-07 - mse: 3.9452e-07 - accuracy: 1.0000
Epoch 26/50
3234/3234 [==============================] - 2s 724us/sample - loss: 2.6745e-07 - mse: 2.6745e-07 - accuracy: 1.0000
Epoch 27/50
3234/3234 [==============================] - 2s 660us/sample - loss: 3.4579e-07 - mse: 3.4579e-07 - accuracy: 1.0000
Epoch 28/50
3234/3234 [==============================] - 2s 655us/sample - loss: 3.3629e-07 - mse: 3.3629e-07 - accuracy: 1.0000
Epoch 29/50
3234/3234 [==============================] - 3s 790us/sample - loss: 2.5709e-07 - mse: 2.5709e-07 - accuracy: 1.0000
Epoch 30/50
3234/3234 [==============================] - 2s 656us/sample - loss: 5.7078e-07 - mse: 5.7078e-07 - accuracy: 1.0000
Epoch 31/50
3234/3234 [==============================] - 2s 498us/sample - loss: 3.7701e-07 - mse: 3.7701e-07 - accuracy: 1.0000
Epoch 32/50
3234/3234 [==============================] - 2s 675us/sample - loss: 2.7892e-07 - mse: 2.7892e-07 - accuracy: 1.0000
Epoch 33/50
3234/3234 [==============================] - 2s 549us/sample - loss: 3.4341e-07 - mse: 3.4341e-07 - accuracy: 1.0000
Epoch 34/50
3234/3234 [==============================] - 2s 622us/sample - loss: 3.4616e-07 - mse: 3.4616e-07 - accuracy: 1.0000
Epoch 35/50
3234/3234 [==============================] - 2s 630us/sample - loss: 2.5711e-07 - mse: 2.5711e-07 - accuracy: 1.0000
Epoch 36/50
3234/3234 [==============================] - 2s 595us/sample - loss: 2.9014e-07 - mse: 2.9014e-07 - accuracy: 1.0000
Epoch 37/50
3234/3234 [==============================] - 2s 629us/sample - loss: 2.8775e-07 - mse: 2.8775e-07 - accuracy: 1.0000
Epoch 38/50
3234/3234 [==============================] - 2s 618us/sample - loss: 2.9301e-07 - mse: 2.9301e-07 - accuracy: 1.0000
Epoch 39/50
3234/3234 [==============================] - 2s 676us/sample - loss: 2.6832e-07 - mse: 2.6832e-07 - accuracy: 1.0000
Epoch 40/50
3234/3234 [==============================] - 2s 737us/sample - loss: 2.6849e-07 - mse: 2.6849e-07 - accuracy: 1.0000
Epoch 41/50
3234/3234 [==============================] - 2s 724us/sample - loss: 2.6115e-07 - mse: 2.6115e-07 - accuracy: 1.0000
Epoch 42/50
3234/3234 [==============================] - 2s 632us/sample - loss: 2.6535e-07 - mse: 2.6535e-07 - accuracy: 1.0000
Epoch 43/50
3234/3234 [==============================] - 2s 579us/sample - loss: 2.6506e-07 - mse: 2.6506e-07 - accuracy: 1.0000
Epoch 44/50
3234/3234 [==============================] - 2s 625us/sample - loss: 4.8578e-07 - mse: 4.8578e-07 - accuracy: 1.0000
Epoch 45/50
3234/3234 [==============================] - 2s 617us/sample - loss: 2.8641e-07 - mse: 2.8641e-07 - accuracy: 1.0000
Epoch 46/50
3234/3234 [==============================] - 2s 586us/sample - loss: 2.5036e-07 - mse: 2.5036e-07 - accuracy: 1.0000
Epoch 47/50
3234/3234 [==============================] - 2s 728us/sample - loss: 3.2322e-07 - mse: 3.2322e-07 - accuracy: 1.0000
Epoch 48/50
3234/3234 [==============================] - 2s 621us/sample - loss: 3.1390e-07 - mse: 3.1390e-07 - accuracy: 1.0000
Epoch 49/50
3234/3234 [==============================] - 2s 687us/sample - loss: 2.5825e-07 - mse: 2.5825e-07 - accuracy: 1.0000
Epoch 50/50
3234/3234 [==============================] - 2s 622us/sample - loss: 2.5545e-07 - mse: 2.5545e-07 - accuracy: 1.0000

answer answer overfitting here and analysis here.

In [146]:
model.evaluate(X_test, y_test, batch_size=16)

1078/1078 [==============================] - 0s 306us/sample - loss: 2.0830e-07 - mse: 2.0830e-07 - accuracy: 1.0000

[2.0829531877097907e-07, 2.0829523e-07, 1.0]

## Overall Conclusion

Conclude with a full report here on what we know now about this problem. How well it does verses baseline, what the best Keras archtecture is, what features should be used, how the data should be cleaned etc.