## Get data

In [83]:
import pandas as pd
import numpy as np

In [11]:
!curl -X GET http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names

| This data was extracted from the census bureau database found at
| http://www.census.gov/ftp/pub/DES/www/welcome.html
| Donor: Ronny Kohavi and Barry Becker,
|        Data Mining and Visualization
|        Silicon Graphics.
|        e-mail: ronnyk@sgi.com for questions.
| Split into train-test using MLC++ GenCVFiles (2/3, 1/3 random).
| 48842 instances, mix of continuous and discrete    (train=32561, test=16281)
| 45222 if instances with unknown values are removed (train=30162, test=15060)
| Duplicate or conflicting instances : 6
| Class probabilities for adult.all file
| Probability for the label '>50K'  : 23.93% / 24.78% (without unknowns)
| Probability for the label '<=50K' : 76.07% / 75.22% (without unknowns)
|
| Extraction was done by Barry Becker from the 1994 Census database.  A set of
|   reasonably clean records was extracted using the following conditions:
|   ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))
|
| Prediction task is to determine whether a person makes over 50K
| a year.
|
| First cited in:
| @inproceedings{kohavi-nbtree,
|    author={Ron Kohavi},
|    title={Scaling Up the Accuracy of Naive-Bayes Classifiers: a
|           Decision-Tree Hybrid},
|    booktitle={Proceedings of the Second International Conference on
|               Knowledge Discovery and Data Mining},
|    year = 1996,
|    pages={to appear}}
|
| Error Accuracy reported as follows, after removal of unknowns from
|    train/test sets):
|    C4.5       : 84.46+-0.30
|    Naive-Bayes: 83.88+-0.30
|    NBTree     : 85.90+-0.28
|
|
| Following algorithms were later run with the following error rates,
|    all after removal of unknowns and using the original train/test split.
|    All these numbers are straight runs using MLC++ with default values.
|
|    Algorithm               Error
| -- ----------------        -----
| 1  C4.5                    15.54
| 2  C4.5-auto               14.46
| 3  C4.5 rules              14.94
| 4  Voted ID3 (0.6)         15.64
| 5  Voted ID3 (0.8)         16.47
| 6  T2                      16.84
| 7  1R                      19.54
| 8  NBTree                  14.10
| 9  CN2                     16.00
| 10 HOODG                   14.82
| 11 FSS Naive Bayes         14.05
| 12 IDTM (Decision table)   14.46
| 13 Naive-Bayes             16.12
| 14 Nearest-neighbor (1)    21.42
| 15 Nearest-neighbor (3)    20.35
| 16 OC1                     15.04
| 17 Pebls                   Crashed.  Unknown why (bounds WERE increased)
|
| Conversion of original data as follows:
| 1. Discretized agrossincome into two ranges with threshold 50,000.
| 2. Convert U.S. to US to avoid periods.
| 3. Convert Unknown to "?"
| 4. Run MLC++ GenCVFiles to generate data,test.
|
| Description of fnlwgt (final weight)
|
| The weights on the CPS files are controlled to independent estimates of the
| civilian noninstitutional population of the US.  These are prepared monthly
| for us by Population Division here at the Census Bureau.  We use 3 sets of
| controls.
|  These are:
|          1.  A single cell estimate of the population 16+ for each state.
|          2.  Controls for Hispanic Origin by age and sex.
|          3.  Controls by Race, age and sex.
|
| We use all three sets of controls in our weighting program and "rake" through
| them 6 times so that by the end we come back to all the controls we used.
|
| The term estimate refers to population totals derived from CPS by creating
| "weighted tallies" of any specified socio-economic characteristics of the
| population.
|
| People with similar demographic characteristics should have
| similar weights.  There is one important caveat to remember
| about this statement.  That is that since the CPS sample is
| actually a collection of 51 state samples, each with its own
| probability of selection, the statement only applies within
| state.


>50K, <=50K.

age: continuous.
workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
fnlwgt: continuous.
education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
education-num: continuous.
marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
sex: Female, Male.
capital-gain: continuous.
capital-loss: continuous.
hours-per-week: continuous.
native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [270]:
features = ['age', 'workclass', 'fnlwgt', 'education', 'education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','target']

In [271]:
df = pd.read_csv('adult.data', names=features, header=None,index_col=False)

In [272]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

We can drop `relationship` which is somewhat of a confounding variable and tied up in `marital-status` as well. `native-country` just widens our data too much, so let's shift it to be either `US` or `foreign`. Also let's group together `workclass` for the `govt` and `self` employed individuals.

In [273]:
df.drop(['fnlwgt', 'relationship','education'],axis=1,inplace=True)

In [274]:
# convert native-country
df['native-country'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [275]:
df['native-country'] = df['native-country'].apply(lambda s: 'US' if s == 'United-States' else 'Foreign')

In [276]:
df.head()

,age,workclass,education-num,marital-status,occupation,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,39,State-gov,13,Never-married,Adm-clerical,White,Male,2174,0,40,Foreign,<=50K
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,White,Male,0,0,13,Foreign,<=50K
2,38,Private,9,Divorced,Handlers-cleaners,White,Male,0,0,40,Foreign,<=50K
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Black,Male,0,0,40,Foreign,<=50K
4,28,Private,13,Married-civ-spouse,Prof-specialty,Black,Female,0,0,40,Foreign,<=50K

In [277]:
df['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [278]:
def clean_workclass(s):
    if s.endswith('gov'):
        return 'govt'
    if s.startswith(' Self'):
        return 'self'
    if s.endswith('Private'):
        return 'private'
    if s == ' Without-pay':
        return 'volunteer'
    if s == ' Never-worked':
        return 'never'
    else: # case of ?
        return 'unknown'
df['workclass'] = df['workclass'].apply(clean_workclass)

In [279]:
df.head()

,age,workclass,education-num,marital-status,occupation,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,39,govt,13,Never-married,Adm-clerical,White,Male,2174,0,40,Foreign,<=50K
1,50,self,13,Married-civ-spouse,Exec-managerial,White,Male,0,0,13,Foreign,<=50K
2,38,private,9,Divorced,Handlers-cleaners,White,Male,0,0,40,Foreign,<=50K
3,53,private,7,Married-civ-spouse,Handlers-cleaners,Black,Male,0,0,40,Foreign,<=50K
4,28,private,13,Married-civ-spouse,Prof-specialty,Black,Female,0,0,40,Foreign,<=50K

## To features

In [193]:
target = df.target
X = pd.get_dummies(df.drop(['target'], axis=1)).values

In [194]:
X.shape

(32561, 41)

In [195]:
y = np.array([int(i) for i in target.values == ' <=50K'])
y.shape

(32561,)

## Modeling

In [196]:
from sklearn.model_selection import train_test_split, KFold

In [197]:
import tensorflow as tf
tf.__version__

'2.1.0'

In [198]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.25)

### Neural Network
#### Base Model

In [252]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])
metrics = [
    tf.keras.metrics.AUC(),
    tf.keras.metrics.Accuracy(),
    tf.keras.metrics.Precision(),
    tf.keras.metrics.Recall()
]
model.compile(optimizer='adam', loss='binary_crossentropy', metrics = metrics)

In [253]:
model.fit(X_train, y_train, batch_size=16, epochs=10)

Train on 24420 samples
Epoch 1/10
24420/24420 [==============================] - 9s 368us/sample - loss: 3.7205 - auc: 0.7656 - accuracy: 0.0313 - precision: 0.8313 - recall: 0.9178
Epoch 2/10
24420/24420 [==============================] - 11s 463us/sample - loss: 1.0787 - auc: 0.8466 - accuracy: 0.0161 - precision: 0.8610 - recall: 0.9168
Epoch 3/10
24420/24420 [==============================] - 13s 523us/sample - loss: 0.8602 - auc: 0.8514 - accuracy: 0.0141 - precision: 0.8594 - recall: 0.9119
Epoch 4/10
24420/24420 [==============================] - 12s 497us/sample - loss: 0.5807 - auc: 0.8718 - accuracy: 0.0088 - precision: 0.8646 - recall: 0.9154
Epoch 5/10
24420/24420 [==============================] - 13s 516us/sample - loss: 0.3961 - auc: 0.8809 - accuracy: 0.0020 - precision: 0.8655 - recall: 0.9221
Epoch 6/10
24420/24420 [==============================] - 13s 529us/sample - loss: 0.3863 - auc: 0.8838 - accuracy: 0.0029 - precision: 0.8663 - recall: 0.9231
Epoch 7/10
24420/24420 [==============================] - 13s 538us/sample - loss: 0.3450 - auc: 0.8893 - accuracy: 0.0029 - precision: 0.8659 - recall: 0.9293
Epoch 8/10
24420/24420 [==============================] - 14s 559us/sample - loss: 0.3643 - auc: 0.8731 - accuracy: 0.0015 - precision: 0.8563 - recall: 0.9291
Epoch 9/10
24420/24420 [==============================] - 15s 595us/sample - loss: 0.3917 - auc: 0.8655 - accuracy: 1.2285e-04 - precision: 0.8458 - recall: 0.9274
Epoch 10/10
24420/24420 [==============================] - 13s 546us/sample - loss: 0.3705 - auc: 0.8672 - accuracy: 0.0000e+00 - precision: 0.8361 - recall: 0.9314

In [221]:
# plot stuff
# just remember that | Class probabilities for adult.all file
# | Probability for the label '>50K'  : 23.93% / 24.78% (without unknowns)
# | Probability for the label '<=50K' : 76.07% / 75.22% (without unknowns)

#### K-Fold Cross Validation

In [255]:
import random

activation_functions = ['sigmoid', '']
weight_inits = ['']
num_layers = [i for i in range(2,5)]
hidden_layers = [2 ** i for i in range(5,7)]

models = []
for _ in range(5):
    model = tf.keras.models.Sequential()
    layers = [ tf.keras.layers.Dense(random.choice(hidden_layers), activation='relu') for _ in range(random.choice(num_layers)) ]
    for l in layers:
        model.add(l)
    output_layer = tf.keras.layers.Dense(1, activation='sigmoid')
    model.add(output_layer)
    model.compile(optimizer='adam', loss='binary_crossentropy', metrics = metrics)
    models.append(model)

In [256]:
# let's first ensure our random search worked
for model in models:
    model.fit(X_train, y_train, batch_size=16, epochs=10, verbose=0)
    model.evaluate(X_test, y_test, batch_size=16)

8141/8141 [==============================] - 2s 300us/sample - loss: 0.3497 - auc: 0.8901 - accuracy: 0.0000e+00 - precision: 0.8894 - recall: 0.8821
8141/8141 [==============================] - 2s 295us/sample - loss: 0.3479 - auc: 0.8872 - accuracy: 0.0000e+00 - precision: 0.8892 - recall: 0.8803
8141/8141 [==============================] - 4s 532us/sample - loss: 0.3299 - auc: 0.9052 - accuracy: 0.0000e+00 - precision: 0.8713 - recall: 0.9214
8141/8141 [==============================] - 2s 298us/sample - loss: 0.3463 - auc: 0.8894 - accuracy: 0.0000e+00 - precision: 0.8844 - recall: 0.8876
8141/8141 [==============================] - 3s 319us/sample - loss: 0.3505 - auc: 0.8882 - accuracy: 0.0000e+00 - precision: 0.8681 - recall: 0.9060

In [257]:
for model in models:
    model.summary()

Model: "sequential_29"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_98 (Dense)             multiple                  1344
_________________________________________________________________
dense_99 (Dense)             multiple                  1056
_________________________________________________________________
dense_100 (Dense)            multiple                  2112
_________________________________________________________________
dense_101 (Dense)            multiple                  65
=================================================================
Total params: 4,577
Trainable params: 4,577
Non-trainable params: 0
_________________________________________________________________
Model: "sequential_30"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_102 (Dense)            multiple                  2688
_________________________________________________________________
dense_103 (Dense)            multiple                  2080
_________________________________________________________________
dense_104 (Dense)            multiple                  1056
_________________________________________________________________
dense_105 (Dense)            multiple                  33
=================================================================
Total params: 5,857
Trainable params: 5,857
Non-trainable params: 0
_________________________________________________________________
Model: "sequential_31"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_106 (Dense)            multiple                  1344
_________________________________________________________________
dense_107 (Dense)            multiple                  1056
_________________________________________________________________
dense_108 (Dense)            multiple                  1056
_________________________________________________________________
dense_109 (Dense)            multiple                  33
=================================================================
Total params: 3,489
Trainable params: 3,489
Non-trainable params: 0
_________________________________________________________________
Model: "sequential_32"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_110 (Dense)            multiple                  2688
_________________________________________________________________
dense_111 (Dense)            multiple                  2080
_________________________________________________________________
dense_112 (Dense)            multiple                  2112
_________________________________________________________________
dense_113 (Dense)            multiple                  65
=================================================================
Total params: 6,945
Trainable params: 6,945
Non-trainable params: 0
_________________________________________________________________
Model: "sequential_33"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_114 (Dense)            multiple                  1344
_________________________________________________________________
dense_115 (Dense)            multiple                  2112
_________________________________________________________________
dense_116 (Dense)            multiple                  4160
_________________________________________________________________
dense_117 (Dense)            multiple                  2080
_________________________________________________________________
dense_118 (Dense)            multiple                  33
=================================================================
Total params: 9,729
Trainable params: 9,729
Non-trainable params: 0
_________________________________________________________________

In [258]:
results = []
for model in models:
    results.append(model.evaluate(X_test, y_test, batch_size=32))

8141/8141 [==============================] - 1s 67us/sample - loss: 0.3497 - auc: 0.8901 - accuracy: 0.0000e+00 - precision: 0.8894 - recall: 0.8821
8141/8141 [==============================] - 1s 86us/sample - loss: 0.3479 - auc: 0.8872 - accuracy: 0.0000e+00 - precision: 0.8892 - recall: 0.8803
8141/8141 [==============================] - 1s 83us/sample - loss: 0.3299 - auc: 0.9052 - accuracy: 0.0000e+00 - precision: 0.8713 - recall: 0.9214
8141/8141 [==============================] - 1s 88us/sample - loss: 0.3463 - auc: 0.8894 - accuracy: 0.0000e+00 - precision: 0.8844 - recall: 0.8876
8141/8141 [==============================] - 1s 87us/sample - loss: 0.3505 - auc: 0.8882 - accuracy: 0.0000e+00 - precision: 0.8681 - recall: 0.9060

In [ ]:
# <TODO> visualize results

In [259]:
# now let's do cross-validation
kf = KFold(n_splits=5)
for i, (train_idx, test_idx) in enumerate(kf.split(X_train)):
    X_trn, X_tst = X_train[train_idx], X_train[test_idx]
    y_trn, y_tst = y_train[train_idx], y_train[test_idx]

    for j, model in enumerate(models):
        model.fit(X_trn, y_trn, batch_size=16, epochs=20, verbose=0)
        print(f"Evaluating model {j} on k-fold {i}")
        model.evaluate(X_tst, y_tst, batch_size=16)

Evaluating model 0 on k-fold 0
4884/4884 [==============================] - 1s 246us/sample - loss: 0.3785 - auc: 0.8802 - accuracy: 0.0061 - precision: 0.8642 - recall: 0.9073
Evaluating model 1 on k-fold 0
4884/4884 [==============================] - 1s 218us/sample - loss: 0.3783 - auc: 0.8737 - accuracy: 0.0059 - precision: 0.8617 - recall: 0.8983
Evaluating model 2 on k-fold 0
4884/4884 [==============================] - 1s 243us/sample - loss: 0.3428 - auc: 0.8911 - accuracy: 4.0950e-04 - precision: 0.8514 - recall: 0.9412
Evaluating model 3 on k-fold 0
4884/4884 [==============================] - 1s 241us/sample - loss: 0.3658 - auc: 0.8748 - accuracy: 6.1425e-04 - precision: 0.8751 - recall: 0.8829
Evaluating model 4 on k-fold 0
4884/4884 [==============================] - 1s 214us/sample - loss: 0.3490 - auc: 0.8877 - accuracy: 6.1425e-04 - precision: 0.8650 - recall: 0.9119
Evaluating model 0 on k-fold 1
4884/4884 [==============================] - 1s 190us/sample - loss: 0.3276 - auc: 0.8999 - accuracy: 0.0027 - precision: 0.8874 - recall: 0.9222
Evaluating model 1 on k-fold 1
4884/4884 [==============================] - 1s 235us/sample - loss: 0.3580 - auc: 0.8760 - accuracy: 0.0055 - precision: 0.8944 - recall: 0.8715
Evaluating model 2 on k-fold 1
4884/4884 [==============================] - 1s 238us/sample - loss: 0.3434 - auc: 0.8974 - accuracy: 0.0053 - precision: 0.8856 - recall: 0.8971
Evaluating model 3 on k-fold 1
4884/4884 [==============================] - 1s 275us/sample - loss: 0.3572 - auc: 0.8770 - accuracy: 0.0041 - precision: 0.8840 - recall: 0.8811
Evaluating model 4 on k-fold 1
4884/4884 [==============================] - 1s 197us/sample - loss: 0.3334 - auc: 0.9039 - accuracy: 0.0272 - precision: 0.8852 - recall: 0.9264
Evaluating model 0 on k-fold 2
4884/4884 [==============================] - 1s 263us/sample - loss: 0.3305 - auc: 0.9029 - accuracy: 0.0125 - precision: 0.8576 - recall: 0.9447
Evaluating model 1 on k-fold 2
4884/4884 [==============================] - 1s 212us/sample - loss: 0.3547 - auc: 0.8838 - accuracy: 0.0180 - precision: 0.8997 - recall: 0.8548
Evaluating model 2 on k-fold 2
4884/4884 [==============================] - 1s 249us/sample - loss: 0.3444 - auc: 0.8969 - accuracy: 0.0371 - precision: 0.9024 - recall: 0.8611
Evaluating model 3 on k-fold 2
4884/4884 [==============================] - 1s 245us/sample - loss: 0.3533 - auc: 0.8822 - accuracy: 0.0358 - precision: 0.8809 - recall: 0.8735
Evaluating model 4 on k-fold 2
4884/4884 [==============================] - 1s 209us/sample - loss: 0.3299 - auc: 0.9072 - accuracy: 0.1114 - precision: 0.8644 - recall: 0.9431
Evaluating model 0 on k-fold 3
4884/4884 [==============================] - 1s 214us/sample - loss: 0.3173 - auc: 0.9040 - accuracy: 0.0647 - precision: 0.8796 - recall: 0.9357
Evaluating model 1 on k-fold 3
4884/4884 [==============================] - 1s 215us/sample - loss: 0.3584 - auc: 0.8969 - accuracy: 0.0723 - precision: 0.8681 - recall: 0.9330
Evaluating model 2 on k-fold 3
4884/4884 [==============================] - 1s 238us/sample - loss: 0.3278 - auc: 0.8981 - accuracy: 0.0850 - precision: 0.8458 - recall: 0.9602
Evaluating model 3 on k-fold 3
4884/4884 [==============================] - 1s 220us/sample - loss: 0.3579 - auc: 0.8773 - accuracy: 0.0614 - precision: 0.8884 - recall: 0.8733
Evaluating model 4 on k-fold 3
4884/4884 [==============================] - 1s 278us/sample - loss: 0.3088 - auc: 0.9109 - accuracy: 0.1210 - precision: 0.8806 - recall: 0.9379
Evaluating model 0 on k-fold 4
4884/4884 [==============================] - 1s 256us/sample - loss: 0.3097 - auc: 0.9122 - accuracy: 0.0760 - precision: 0.8995 - recall: 0.9164
Evaluating model 1 on k-fold 4
4884/4884 [==============================] - 1s 212us/sample - loss: 0.3380 - auc: 0.8946 - accuracy: 0.0944 - precision: 0.8736 - recall: 0.9344
Evaluating model 2 on k-fold 4
4884/4884 [==============================] - 1s 241us/sample - loss: 0.3243 - auc: 0.9001 - accuracy: 0.1202 - precision: 0.8754 - recall: 0.9151
Evaluating model 3 on k-fold 4
4884/4884 [==============================] - 1s 256us/sample - loss: 0.3533 - auc: 0.8791 - accuracy: 0.0940 - precision: 0.8838 - recall: 0.8788
Evaluating model 4 on k-fold 4
4884/4884 [==============================] - 1s 266us/sample - loss: 0.3138 - auc: 0.9151 - accuracy: 0.1073 - precision: 0.8699 - recall: 0.9610

In [260]:
# now let's see our performance on the validation set...
for model in models:
    model.evaluate(X_test, y_test, batch_size=16)

8141/8141 [==============================] - 1s 138us/sample - loss: 0.3132 - auc: 0.9182 - accuracy: 0.0732 - precision: 0.8964 - recall: 0.9201
8141/8141 [==============================] - 1s 153us/sample - loss: 0.3326 - auc: 0.9041 - accuracy: 0.0892 - precision: 0.8748 - recall: 0.9369
8141/8141 [==============================] - 1s 144us/sample - loss: 0.3299 - auc: 0.9086 - accuracy: 0.1177 - precision: 0.8798 - recall: 0.9242
8141/8141 [==============================] - 1s 144us/sample - loss: 0.3582 - auc: 0.8860 - accuracy: 0.0915 - precision: 0.8822 - recall: 0.8892
8141/8141 [==============================] - 1s 145us/sample - loss: 0.3311 - auc: 0.9118 - accuracy: 0.1023 - precision: 0.8626 - recall: 0.9632

It looks like our final model in particular has a nice recall. This we should probably consider our best candidate recognizing that there is an imbalance in our classes.

In [264]:
models[-1].summary()

Model: "sequential_33"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_114 (Dense)            multiple                  1344
_________________________________________________________________
dense_115 (Dense)            multiple                  2112
_________________________________________________________________
dense_116 (Dense)            multiple                  4160
_________________________________________________________________
dense_117 (Dense)            multiple                  2080
_________________________________________________________________
dense_118 (Dense)            multiple                  33
_________________________________________________________________
dense_119 (Dense)            multiple                  64
_________________________________________________________________
dropout (Dropout)            multiple                  0
_________________________________________________________________
dense_120 (Dense)            multiple                  1056
_________________________________________________________________
dropout_1 (Dropout)          multiple                  0
_________________________________________________________________
dense_121 (Dense)            multiple                  1056
_________________________________________________________________
dropout_2 (Dropout)          multiple                  0
_________________________________________________________________
dense_122 (Dense)            multiple                  33
=================================================================
Total params: 11,938
Trainable params: 11,938
Non-trainable params: 0
_________________________________________________________________

#### Regularization

In [262]:
# now let's do the same procedure but with regularization included; a dropout layer after each
regularized_models = []
for _ in range(5):
    model = tf.keras.models.Sequential()
    layers = [ tf.keras.layers.Dense(random.choice(hidden_layers), activation='relu') for _ in range(random.choice(num_layers)) ]
    for l in layers:
        model.add(l)
        dropout_layer = tf.keras.layers.Dropout(.15)
        model.add(dropout_layer)
    output_layer = tf.keras.layers.Dense(1, activation='sigmoid')
    model.add(output_layer)
    model.compile(optimizer='adam', loss='binary_crossentropy', metrics = metrics)
    regularized_models.append(model)

In [263]:
# now let's do cross-validation
kf = KFold(n_splits=5)
for i, (train_idx, test_idx) in enumerate(kf.split(X_train)):
    X_trn, X_tst = X_train[train_idx], X_train[test_idx]
    y_trn, y_tst = y_train[train_idx], y_train[test_idx]

    for j, model in enumerate(regularized_models):
        model.fit(X_trn, y_trn, batch_size=16, epochs=20, verbose=0)
        print(f"Evaluating model {j} on k-fold {i}")
        model.evaluate(X_tst, y_tst, batch_size=16)

Evaluating model 0 on k-fold 0
4884/4884 [==============================] - 2s 323us/sample - loss: 0.3470 - auc: 0.8904 - accuracy: 0.0000e+00 - precision: 0.8446 - recall: 0.9561
Evaluating model 1 on k-fold 0
4884/4884 [==============================] - 2s 350us/sample - loss: 0.3465 - auc: 0.8911 - accuracy: 6.1425e-04 - precision: 0.8475 - recall: 0.9534
Evaluating model 2 on k-fold 0
4884/4884 [==============================] - 2s 341us/sample - loss: 0.3679 - auc: 0.8815 - accuracy: 0.0000e+00 - precision: 0.8372 - recall: 0.9507
Evaluating model 3 on k-fold 0
4884/4884 [==============================] - 2s 358us/sample - loss: 0.3591 - auc: 0.8811 - accuracy: 0.0000e+00 - precision: 0.8387 - recall: 0.9555
Evaluating model 4 on k-fold 0
4884/4884 [==============================] - 2s 341us/sample - loss: 0.3750 - auc: 0.8712 - accuracy: 0.0000e+00 - precision: 0.8577 - recall: 0.9035
Evaluating model 0 on k-fold 1
4884/4884 [==============================] - 1s 266us/sample - loss: 0.3369 - auc: 0.8964 - accuracy: 0.0000e+00 - precision: 0.8602 - recall: 0.9464
Evaluating model 1 on k-fold 1
4884/4884 [==============================] - 1s 284us/sample - loss: 0.3382 - auc: 0.9009 - accuracy: 2.0475e-04 - precision: 0.8513 - recall: 0.9678
Evaluating model 2 on k-fold 1
4884/4884 [==============================] - 1s 258us/sample - loss: 0.3527 - auc: 0.8925 - accuracy: 0.0000e+00 - precision: 0.8254 - recall: 0.9843
Evaluating model 3 on k-fold 1
4884/4884 [==============================] - 1s 270us/sample - loss: 0.3517 - auc: 0.8932 - accuracy: 0.0000e+00 - precision: 0.8308 - recall: 0.9776
Evaluating model 4 on k-fold 1
4884/4884 [==============================] - 1s 238us/sample - loss: 0.3623 - auc: 0.8739 - accuracy: 0.0182 - precision: 0.8622 - recall: 0.9019
Evaluating model 0 on k-fold 2
4884/4884 [==============================] - 1s 243us/sample - loss: 0.3329 - auc: 0.9037 - accuracy: 0.0018 - precision: 0.8612 - recall: 0.9461
Evaluating model 1 on k-fold 2
4884/4884 [==============================] - 1s 257us/sample - loss: 0.3469 - auc: 0.8939 - accuracy: 0.0039 - precision: 0.8408 - recall: 0.9626
Evaluating model 2 on k-fold 2
4884/4884 [==============================] - 1s 275us/sample - loss: 0.3372 - auc: 0.8982 - accuracy: 0.0000e+00 - precision: 0.8503 - recall: 0.9428
Evaluating model 3 on k-fold 2
4884/4884 [==============================] - 1s 289us/sample - loss: 0.3468 - auc: 0.8947 - accuracy: 0.0000e+00 - precision: 0.8421 - recall: 0.9621
Evaluating model 4 on k-fold 2
4884/4884 [==============================] - 2s 332us/sample - loss: 0.3650 - auc: 0.8759 - accuracy: 0.0000e+00 - precision: 0.8627 - recall: 0.8900
Evaluating model 0 on k-fold 3
4884/4884 [==============================] - 1s 304us/sample - loss: 0.3279 - auc: 0.9035 - accuracy: 0.0018 - precision: 0.8798 - recall: 0.9212
Evaluating model 1 on k-fold 3
4884/4884 [==============================] - 2s 329us/sample - loss: 0.3277 - auc: 0.8992 - accuracy: 0.0090 - precision: 0.8679 - recall: 0.9328
Evaluating model 2 on k-fold 3
4884/4884 [==============================] - 1s 292us/sample - loss: 0.3281 - auc: 0.9044 - accuracy: 6.1425e-04 - precision: 0.8387 - recall: 0.9693
Evaluating model 3 on k-fold 3
4884/4884 [==============================] - 1s 298us/sample - loss: 0.3362 - auc: 0.8972 - accuracy: 0.0000e+00 - precision: 0.8598 - recall: 0.9400
Evaluating model 4 on k-fold 3
4884/4884 [==============================] - 2s 320us/sample - loss: 0.3630 - auc: 0.8748 - accuracy: 0.0162 - precision: 0.8318 - recall: 0.9190
Evaluating model 0 on k-fold 4
4884/4884 [==============================] - 2s 314us/sample - loss: 0.3352 - auc: 0.8973 - accuracy: 0.0121 - precision: 0.8486 - recall: 0.9581
Evaluating model 1 on k-fold 4
4884/4884 [==============================] - 1s 301us/sample - loss: 0.3250 - auc: 0.9026 - accuracy: 0.0164 - precision: 0.8700 - recall: 0.9371
Evaluating model 2 on k-fold 4
4884/4884 [==============================] - 2s 365us/sample - loss: 0.3466 - auc: 0.8891 - accuracy: 2.0475e-04 - precision: 0.8784 - recall: 0.9087
Evaluating model 3 on k-fold 4
4884/4884 [==============================] - 2s 340us/sample - loss: 0.3319 - auc: 0.8928 - accuracy: 0.0010 - precision: 0.8596 - recall: 0.9412
Evaluating model 4 on k-fold 4
4884/4884 [==============================] - 2s 308us/sample - loss: 0.3638 - auc: 0.8730 - accuracy: 0.0352 - precision: 0.8711 - recall: 0.8864

In [266]:
# now let's see our performance on the validation set...
for model in regularized_models:
    model.evaluate(X_test, y_test, batch_size=16)

8141/8141 [==============================] - 1s 155us/sample - loss: 0.3342 - auc: 0.9090 - accuracy: 0.0117 - precision: 0.8443 - recall: 0.9649
8141/8141 [==============================] - 1s 150us/sample - loss: 0.3242 - auc: 0.9112 - accuracy: 0.0147 - precision: 0.8658 - recall: 0.9418
8141/8141 [==============================] - 1s 166us/sample - loss: 0.3409 - auc: 0.8999 - accuracy: 3.6851e-04 - precision: 0.8736 - recall: 0.9165
8141/8141 [==============================] - 1s 149us/sample - loss: 0.3257 - auc: 0.9048 - accuracy: 9.8268e-04 - precision: 0.8542 - recall: 0.9462
8141/8141 [==============================] - 1s 184us/sample - loss: 0.3507 - auc: 0.8890 - accuracy: 0.0372 - precision: 0.8716 - recall: 0.8980

#### Feature normalization

In [267]:
list(df)

['age',
 'workclass',
 'education-num',
 'marital-status',
 'occupation',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'target']

In [295]:
min_max_norm_cols = ['age', 'education-num','hours-per-week']
norm_cols = ['capital-gain', 'capital-loss']

In [296]:
# age & education we'll use MinMax, the others we'll do normalization
for col in min_max_norm_cols:
    df[col] = (df[col] - df[col].min()) / (df[col].max() - df[col].min())

for col in norm_cols:
    df[col] = (df[col] - df[col].mean()) / df[col].std()

df.head()

,age,workclass,education-num,marital-status,occupation,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,0.301370,govt,0.800000,Never-married,Adm-clerical,White,Male,0.148451,-0.216656,0.397959,Foreign,<=50K
1,0.452055,self,0.800000,Married-civ-spouse,Exec-managerial,White,Male,-0.145918,-0.216656,0.122449,Foreign,<=50K
2,0.287671,private,0.533333,Divorced,Handlers-cleaners,White,Male,-0.145918,-0.216656,0.397959,Foreign,<=50K
3,0.493151,private,0.400000,Married-civ-spouse,Handlers-cleaners,Black,Male,-0.145918,-0.216656,0.397959,Foreign,<=50K
4,0.150685,private,0.800000,Married-civ-spouse,Prof-specialty,Black,Female,-0.145918,-0.216656,0.397959,Foreign,<=50K

In [297]:
target = df.target
X_normed = pd.get_dummies(df.drop(['target'], axis=1)).values

In [298]:
X_norm_train, X_norm_test, y_norm_train, y_norm_test = train_test_split(X_normed, y, test_size=.25)

In [300]:
normed_models = []
for _ in range(5):
    m = tf.keras.models.Sequential()
    layers = [ tf.keras.layers.Dense(random.choice(hidden_layers), activation='relu') for _ in range(random.choice(num_layers)) ]
    for l in layers:
        m.add(l)
        dropout_layer = tf.keras.layers.Dropout(.15)
        m.add(dropout_layer)
    output_layer = tf.keras.layers.Dense(1, activation='sigmoid')
    m.add(output_layer)
    m.compile(optimizer='adam', loss='binary_crossentropy', metrics = metrics)
    normed_models.append(m)

In [301]:
# now let's do cross-validation
kf = KFold(n_splits=5)
for i, (train_idx, test_idx) in enumerate(kf.split(X_norm_train)):
    X_trn, X_tst = X_norm_train[train_idx], X_norm_train[test_idx]
    y_trn, y_tst = y_norm_train[train_idx], y_norm_train[test_idx]

    for j, model in enumerate(normed_models):
        model.fit(X_trn, y_trn, batch_size=16, epochs=20, verbose=0)
        print(f"Evaluating model {j} on k-fold {i}")
        model.evaluate(X_tst, y_tst, batch_size=16)

Evaluating model 0 on k-fold 0
4884/4884 [==============================] - 2s 354us/sample - loss: 0.3098 - auc: 0.9124 - accuracy: 0.0051 - precision: 0.8775 - recall: 0.9442
Evaluating model 1 on k-fold 0
4884/4884 [==============================] - 2s 373us/sample - loss: 0.3104 - auc: 0.9127 - accuracy: 0.0014 - precision: 0.8679 - recall: 0.9488
Evaluating model 2 on k-fold 0
4884/4884 [==============================] - 2s 312us/sample - loss: 0.3165 - auc: 0.9108 - accuracy: 0.0027 - precision: 0.8705 - recall: 0.9472
Evaluating model 3 on k-fold 0
4884/4884 [==============================] - 2s 486us/sample - loss: 0.3122 - auc: 0.9121 - accuracy: 0.0027 - precision: 0.8653 - recall: 0.9542
Evaluating model 4 on k-fold 0
4884/4884 [==============================] - 3s 585us/sample - loss: 0.3112 - auc: 0.9124 - accuracy: 0.0031 - precision: 0.8711 - recall: 0.9485
Evaluating model 0 on k-fold 1
4884/4884 [==============================] - 1s 301us/sample - loss: 0.3033 - auc: 0.9133 - accuracy: 0.0147 - precision: 0.8869 - recall: 0.9374
Evaluating model 1 on k-fold 1
4884/4884 [==============================] - 3s 534us/sample - loss: 0.3011 - auc: 0.9147 - accuracy: 0.0047 - precision: 0.8861 - recall: 0.9342
Evaluating model 2 on k-fold 1
4884/4884 [==============================] - 2s 383us/sample - loss: 0.2983 - auc: 0.9155 - accuracy: 0.0047 - precision: 0.8863 - recall: 0.9425
Evaluating model 3 on k-fold 1
4884/4884 [==============================] - 2s 510us/sample - loss: 0.2988 - auc: 0.9153 - accuracy: 0.0113 - precision: 0.8809 - recall: 0.9478
Evaluating model 4 on k-fold 1
4884/4884 [==============================] - 2s 352us/sample - loss: 0.3050 - auc: 0.9128 - accuracy: 0.0205 - precision: 0.8992 - recall: 0.9184
Evaluating model 0 on k-fold 2
4884/4884 [==============================] - 1s 292us/sample - loss: 0.3137 - auc: 0.9117 - accuracy: 0.0307 - precision: 0.8726 - recall: 0.9356
Evaluating model 1 on k-fold 2
4884/4884 [==============================] - 1s 293us/sample - loss: 0.3069 - auc: 0.9152 - accuracy: 0.0215 - precision: 0.8801 - recall: 0.9294
Evaluating model 2 on k-fold 2
4884/4884 [==============================] - 1s 211us/sample - loss: 0.3067 - auc: 0.9145 - accuracy: 0.0066 - precision: 0.8648 - recall: 0.9465
Evaluating model 3 on k-fold 2
4884/4884 [==============================] - 1s 292us/sample - loss: 0.3119 - auc: 0.9135 - accuracy: 0.0192 - precision: 0.8760 - recall: 0.9348
Evaluating model 4 on k-fold 2
4884/4884 [==============================] - 2s 319us/sample - loss: 0.3091 - auc: 0.9122 - accuracy: 0.0438 - precision: 0.8791 - recall: 0.9280
Evaluating model 0 on k-fold 3
4884/4884 [==============================] - 1s 279us/sample - loss: 0.3174 - auc: 0.9097 - accuracy: 0.0254 - precision: 0.8968 - recall: 0.9147
Evaluating model 1 on k-fold 3
4884/4884 [==============================] - 1s 265us/sample - loss: 0.3082 - auc: 0.9123 - accuracy: 0.0287 - precision: 0.9019 - recall: 0.9050
Evaluating model 2 on k-fold 3
4884/4884 [==============================] - 1s 287us/sample - loss: 0.3119 - auc: 0.9091 - accuracy: 0.0059 - precision: 0.8784 - recall: 0.9396
Evaluating model 3 on k-fold 3
4884/4884 [==============================] - 1s 287us/sample - loss: 0.3149 - auc: 0.9112 - accuracy: 0.0303 - precision: 0.8934 - recall: 0.9161
Evaluating model 4 on k-fold 3
4884/4884 [==============================] - 2s 369us/sample - loss: 0.3103 - auc: 0.9102 - accuracy: 0.0647 - precision: 0.8904 - recall: 0.9269
Evaluating model 0 on k-fold 4
4884/4884 [==============================] - 1s 293us/sample - loss: 0.2938 - auc: 0.9231 - accuracy: 0.0305 - precision: 0.8904 - recall: 0.9382
Evaluating model 1 on k-fold 4
4884/4884 [==============================] - 2s 312us/sample - loss: 0.2958 - auc: 0.9228 - accuracy: 0.0526 - precision: 0.8988 - recall: 0.9325
Evaluating model 2 on k-fold 4
4884/4884 [==============================] - 2s 313us/sample - loss: 0.2887 - auc: 0.9236 - accuracy: 0.0100 - precision: 0.8860 - recall: 0.9501
Evaluating model 3 on k-fold 4
4884/4884 [==============================] - 1s 297us/sample - loss: 0.2852 - auc: 0.9259 - accuracy: 0.0330 - precision: 0.9050 - recall: 0.9282
Evaluating model 4 on k-fold 4
4884/4884 [==============================] - 2s 318us/sample - loss: 0.2867 - auc: 0.9267 - accuracy: 0.0954 - precision: 0.8929 - recall: 0.9428

In [302]:
# now let's see our performance on the validation set...
for m in normed_models:
    m.evaluate(X_norm_test, y_norm_test, batch_size=16)

8141/8141 [==============================] - 1s 175us/sample - loss: 0.3276 - auc: 0.9068 - accuracy: 0.0335 - precision: 0.8830 - recall: 0.9370
8141/8141 [==============================] - 1s 180us/sample - loss: 0.3298 - auc: 0.9074 - accuracy: 0.0555 - precision: 0.8891 - recall: 0.9310
8141/8141 [==============================] - 1s 136us/sample - loss: 0.3086 - auc: 0.9124 - accuracy: 0.0090 - precision: 0.8784 - recall: 0.9505
8141/8141 [==============================] - 1s 152us/sample - loss: 0.3280 - auc: 0.9094 - accuracy: 0.0341 - precision: 0.8944 - recall: 0.9259
8141/8141 [==============================] - 1s 137us/sample - loss: 0.3351 - auc: 0.9081 - accuracy: 0.0882 - precision: 0.8852 - recall: 0.9377